$main-orange: rgb(251,167,20);
$secondary-orange: rgb(255, 216, 149);

$error-color-light: rgb(255, 110, 110);

$font: 'Ubuntu', sans-serif;

$border-radius-small: 5px;
$border-radius-medium: 15px;

$max-size: 1500px;